body {
    background-image: url('Image2(WEEK 3 TASK2).jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #f5f5f5; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.card-header {
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.password-container {
    text-align: center;
    margin-bottom: 20px;
}

.strength-indicator {
    font-weight: bold;
    margin-top: 10px;
    color: red;
}

.medium {
    color: orange;
}

.strong {
    color: green;
}

